<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Каталог - GreenLeaf</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/cart.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/vue@3"></script>
  <script defer src="js/cart.js"></script>
</head>

<body>
  <div id="app">
    <header>
      <nav class="navbar">
        <a href="index.html" class="logo">GreenLeaf</a>
        <ul class="nav-links">
          <li><a href="index.html">Головна</a></li>
          <li><a href="catalog.html">Каталог</a></li>
          <li><a href="about.html">Про нас</a></li>
        </ul>
      </nav>
    </header>
    <div class="site-wrapper" :class="{ blurred: showCart && !showCheckout || showCheckout }">

      <main>
        <section class="catalog">
          <h1>Каталог рослин</h1>
          <div class="grid catalog-grid">
            <div id="product1" class="product-item">
              <img src="images/Juniperus horizontalis.jpg" alt="Ялівець горизонтальний Блю Чіп / Блу Чіп (штамб)">
              <input type="checkbox" id="toggle-overlay1" class="toggle-overlay">
              <label for="toggle-overlay1" class="overlay-btn">Деталі</label>
              <div class="overlay">
                <h3>Детальна інформація</h3>
                <ul>
                  <li><strong>Висота / діаметр:</strong> 0,3 м / 1,2 м</li>
                  <li><strong>Швидкість зростання:</strong> варіюється від середнього до сильного. Щорічно кущ додає в
                    висоту - 2-3 см і в ширину - 10-20 см. </li>
                  <li><strong>Хвоя:</strong> у ялівцю Блю Чіп голковидна, луската, щільна, коротка (до 5 мм) хвоя, має
                    приголомшливий сизо-блакитний відтінок. Восени вона набуває бурого, лілового або бузкового відтінку.
                  </li>
                  <li><strong>Коренева система:</strong> поверхнева</li>
                  <li><strong>Кліматична зона / зона морозостійкості:</strong> 4 - абсолютно вся територія України (5a -
                    7b) від Закарпаття (5b - 6b) до Луганська (5a - 5b) та Криму (6a - 7b).</li>
                </ul>
              </div>
              <div class="product-info">
                <h2>Ялівець горизонтальний Блю Чіп / Блу Чіп (штамб)</h2>
                <p>Невисокий, дуже поширений в Україні, повзучий ялівець блакитного кольору, із середньою швидкістю
                  росту.</p>
                <span class="price">₴2400</span>
                <button :class="isInCart('product1') ? 'btn-in-cart' : 'btn-add-cart'"
                  @click="toggleCart({ id: 'product1', name: 'Ялівець горизонтальний Блю Чіп / Блу Чіп (штамб)', price: 2400 ,image: 'images/Juniperus horizontalis.jpg'})">
                  <span v-if="isInCart('product1')">✅</span>
                  <span v-else>👜</span>
                </button>
              </div>
            </div>
            <div id="product2" class="product-item">
              <img src="./images/Draconis.jpg" alt="Сосна густоквіткова Окулус Драконіс (Око Дракона) штамб">
              <input type="checkbox" id="toggle-overlay2" class="toggle-overlay">
              <label for="toggle-overlay2" class="overlay-btn">Деталі</label>
              <div class="overlay">
                <h3>Детальна інформація</h3>
                <ul>
                  <li><strong>Висота / діаметр:</strong> висота рослини залежить від висоти штамбу, а в діаметрі близько
                    1,2 м.</li>
                  <li><strong>Швидкість зростання:</strong> стовбур щепленої рослини на штамбі вгору не росте, а лише
                    збільшується з віком в діаметрі.</li>
                  <li><strong>Хвоя:</strong> сосна Окулус Драконіс має дуже декоративну м'яку на дотик, по 2 шт в пучку,
                    густо розташовану, голчасту хвою, характерною рисою є дві жовті смужки на кожній зеленій хвоїнці.
                  </li>
                  <li><strong>Коренева система:</strong> потужний, глибокий, стрижневий.</li>
                  <li><strong>Кліматична зона / зона морозостійкості:</strong> 6а – при належному догляді абсолютно вся
                    територія України (5a - 7b) від Закарпаття (5b - 6b) до Луганська (5a-5b) і Криму (6a-7b).</li>
                </ul>
              </div>
              <div class="product-info">
                <h2>Сосна густоквіткова Окулус Драконіс (Око Дракона) штамб</h2>
                <p>Сосна густоквіткова Окулус Драконіс, з нерегулярною конічною формою крони та цікавим забарвленням
                  хвої, вважається однією з найкрасивіших сортів сосон.</p>
                <span class="price">₴4780</span>
                <button :class="isInCart('product2') ? 'btn-in-cart' : 'btn-add-cart'"
                  @click="toggleCart({ id: 'product2', name: 'Сосна густоквіткова Окулус Драконіс (Око Дракона) штамб', price: 4780 ,image: 'images/Draconis.jpg'})">
                  <span v-if="isInCart('product2')">✅</span>
                  <span v-else>👜</span>
                </button>
              </div>
            </div>
            <div class="product-item">
              <img src="./images/Buxus.jpg" alt="Самшит вічнозелений Куля Buxus sempervirens Ball">
              <input type="checkbox" id="toggle-overlay3" class="toggle-overlay">
              <label for="toggle-overlay3" class="overlay-btn">Деталі</label>
              <div class="overlay">
                <h3>Детальна інформація</h3>
                <ul>
                  <li><strong>Висота / діаметр:</strong> 2-4 м / 2-3 м</li>
                  <li><strong>Особливості:</strong> дуже вологолюбний, але переносить спеку і періоди посухи на диво
                    добре; стійкий до міських умов, Buxus може жити кілька сотень років, досить вітростійкий.</li>
                  <li><strong>Листя:</strong> супротивні, шкірясті, яйцеподібні або витягнуто-еліптичні, довжиною 1,5 -
                    3 см., Темно-зелені, блискучі, знизу світліші.</li>
                  <li><strong>Коренева система:</strong> стрижнева коренева система, коріння добре розгалужені, глибокі
                    і широко розпростерті.</li>
                  <li><strong>Кліматична зона / зона морозостійкості:</strong> 5 абсолютно вся територія України (5а-7б)
                    від Закарпаття (5б-6б) до Луганська (5а-5б) і Криму (6а-7б).</li>
                </ul>
              </div>
              <div class="product-info">
                <h2>Самшит вічнозелений Куля Buxus sempervirens Ball</h2>
                <p>Вічнозелений високий густий кущ, в природі іноді невелике дерево з коротким кривим стовбуром.</p>
                <span class="price">₴1100</span>
                <button :class="isInCart('product3') ? 'btn-in-cart' : 'btn-add-cart'"
                  @click="toggleCart({ id: 'product3', name: 'Самшит вічнозелений Куля Buxus sempervirens Ball', price: 1100,image: 'images/Buxus.jpg' })">
                  <span v-if="isInCart('product3')">✅</span>
                  <span v-else>👜</span>
                </button>
              </div>
            </div>
            <div id="product4" class="product-item">
              <img src="./images/Platanus.jpg" alt="Платан кленолистий (морозостійкий)">
              <input type="checkbox" id="toggle-overlay4" class="toggle-overlay">
              <label for="toggle-overlay4" class="overlay-btn">Деталі</label>
              <div class="overlay">
                <h3>Детальна інформація</h3>
                <ul>
                  <li><strong>Висота / діаметр:</strong> 20-30 м / 25 м</li>
                  <li><strong>Швидкість зростання:</strong> швидкоросла рослина. За сезон активного росту молодий
                    приріст становить близько 50 см в висоту і 40 см в ширину.</li>
                  <li><strong>Листя:</strong> зелене, величиною близько 20 см, велике, схоже на листя клена. Восени
                    набирають коричнево-зеленого забарвлення.</li>
                  <li><strong>Ставлення до світла / інсоляція:</strong> платан росте на відкритих сонячних місцях або у
                    нетривалій півтіні.</li>
                  <li><strong>Кліматична зона / зона морозостійкості:</strong> 6 - при належному догляді абсолютно вся
                    територія України (5a - 7b) від Закарпаття (5b - 6b) до Луганська (5a-5b) і Криму (6a-7b).</li>
                </ul>
              </div>
              <div class="product-info">
                <h2>Платан кленолистий (морозостійкий)</h2>
                <p>Струнке дерево викликає захоплення своєю величчю густії крони, унікальним світло-плямистим
                  забарвленням стовбура і оригінальними кулястими плодами, що висять на дереві до весни.</p>
                <span class="price">₴900</span>
                <button :class="isInCart('product4') ? 'btn-in-cart' : 'btn-add-cart'"
                  @click="toggleCart({ id: 'product4', name: 'Платан кленолистий (морозостійкий)', price: 900 ,image: 'images/Platanus.jpg'})">
                  <span v-if="isInCart('product4')">✅</span>
                  <span v-else>👜</span>
                </button>
              </div>
            </div>
            <div class="product-item">
              <img src="./images/Thuja Brabant.jpg" alt="Туя західна Брабант (для живоплотів)">
              <input type="checkbox" id="toggle-overlay5" class="toggle-overlay">
              <label for="toggle-overlay5" class="overlay-btn">Деталі</label>
              <div class="overlay">
                <h3>Детальна інформація</h3>
                <ul>
                  <li><strong>Висота / діаметр:</strong> 15-20 м / 3-4 м</li>
                  <li><strong>Швидкість зростання:</strong> річний приріст у висоту приблизно 30 см, завширшки 10. </li>
                  <li><strong>Хвоя:</strong> м'яка, луската, зелена, зберігає забарвлення взимку. Цвіте у квітні -
                    травні.</li>
                  <li><strong>Вимоги:</strong> тіньовитривала, до ґрунту невибаглива, переносить як сухість, так і
                    надмірне зволоження ґрунту, але любить свіжі, досить зволожені родючі грунти. Морозостійка. Добре
                    переносить стрижку.</li>
                  <li><strong>Кліматична зона / зона морозостійкості:</strong> 5a – абсолютно вся територія України.
                  </li>
                </ul>
              </div>
              <div class="product-info">
                <h2>Туя західна Брабант (для живоплотів)</h2>
                <p>Безумовно найпопулярніша в центральній Європі серед туй, що використовуються для посадки живоплоту.
                </p>
                <span class="price">₴500</span>
                <button :class="isInCart('product5') ? 'btn-in-cart' : 'btn-add-cart'"
                  @click="toggleCart({ id: 'product5', name: 'Туя західна Брабант (для живоплотів)', price: 500 , image: 'images/Thuja Brabant.jpg'  })">
                  <span v-if="isInCart('product5')">✅</span>
                  <span v-else>👜</span>
                </button>
              </div>
            </div>
            <div class="product-item">
              <img src="./images/Liquidambar.jpg" alt="Ліквідамбар смолоносний Ворплесдон">
              <input type="checkbox" id="toggle-overlay6" class="toggle-overlay">
              <label for="toggle-overlay6" class="overlay-btn">Деталі</label>
              <div class="overlay">
                <h3>Детальна інформація</h3>
                <ul>
                  <li><strong>Висота / діаметр:</strong> 12-15 м / 6-8 м</li>
                  <li><strong>Швидкість зростання:</strong> річний приріст Ліквідамбру стираксового Ворплесдон становить
                    приблизно 30-40 см у висоту і 20 см у діаметрі. </li>
                  <li><strong>Листя:</strong> нагадує листя клена, тільки більш розсічене, 5-7 лопатеве, темно-зеленого
                    кольору, восени набуває різнокольорового забарвлення жовто-помаранчевого, бордово-червоного і
                    темно-фіолетового тонів, довго не опадає з дерева, розповсюджує приємний аромат при розтиранні.</li>
                  <li><strong>Відношення до світла / інсоляція:</strong> світлолюбна рослина, на сонячному місці осіннє
                    забарвлення листя має більш яскравий і барвистий вигляд.</li>
                  <li><strong>Кліматична зона / зона морозостійкості:</strong> 5 - абсолютна морозостійкість на всій
                    території України.</li>
                </ul>
              </div>
              <div class="product-info">
                <h2>Ліквідамбар смолоносний Ворплесдон</h2>
                <p>Листяне дерево, широко відоме в Європі своїм чудовим яскравим різнокольоровим забарвленням листя
                  восени.</p>
                <span class="price">₴1670</span>
                <button :class="isInCart('product6') ? 'btn-in-cart' : 'btn-add-cart'"
                  @click="toggleCart({ id: 'product6', name: 'Ліквідамбар смолоносний Ворплесдон', price: 1670 , image: 'images/Liquidambar.jpg' })">
                  <span v-if="isInCart('product6')">✅</span>
                  <span v-else>👜</span>
                </button>
              </div>
            </div>
          </div>
        </section>
      </main>

      <footer>
        <p>© 2025 GreenLeaf. Всі права захищені.</p>
      </footer>

      <button class="cart-modern" @click="showCart = true">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
          stroke-width="2" viewBox="0 0 24 24">
          <path d="M6 6h15l-1.5 9h-13z" />
          <circle cx="9" cy="21" r="1" />
          <circle cx="18" cy="21" r="1" />
        </svg>
        <span>Кошик ({{ totalQuantity }})</span>
      </button>

    </div>
    <div class="cart-overlay" v-if="showCart && !showCheckout" @click.self="showCart = false">
      <div class="cart-window">
        <div class="cart-header">
          <h2>Кошик</h2>
          <button class="close-btn" @click="showCart = false">✖</button>
        </div>

        <div class="cart-content" v-if="cart.length > 0">
          <div class="cart-item" v-for="(item, index) in cart" :key="item.id">
            <div class="item-image">
              <img :src="item.image || 'images/placeholder.jpg'" alt="Товар">
            </div>
            <div class="item-details">
              <p class="item-name">{{ item.name }}</p>
              <div class="quantity-control">
                <button @click="decreaseQuantity(index)">−</button>
                <span>{{ item.quantity }}</span>
                <button @click="increaseQuantity(index)">+</button>
              </div>
            </div>
            <div class="item-price">
              ₴{{ item.price * item.quantity }}
            </div>
            <button class="remove-item" @click="removeItem(index)">🗑</button>
          </div>
        </div>

        <div v-else class="cart-empty">Кошик порожній</div>

        <div class="cart-footer" v-if="cart.length > 0">
          <div class="total">
            <span>Разом:</span>
            <strong>₴{{ totalPrice }}</strong>
          </div>
          <div class="cart-buttons">
            <button class="btn-checkout" @click="showCheckout = true">Оформити замовлення</button>

          </div>
        </div>
      </div>
    </div>



    <div class="checkout-modal" v-if="showCheckout" @click.self="closeCheckout">
      <div class="checkout-content">
        <div class="checkout-left">
          <h2>Оформлення замовлення</h2>

          <div v-if="step === 1" class="step">
            <h3>1. Ваші дані</h3>
            <input type="text" placeholder="Прізвище, ім’я, по батькові" v-model="user.name" required>
            <div class="phone-wrapper">
              <span class="prefix">+380</span>
              <input type="tel" id="phoneInput" v-model="user.phone" placeholder="___ ___ ___" pattern="[0-9]{9}"
                maxlength="9" required>
            </div>


            <button @click="nextStep">Далі</button>
          </div>

          <div v-if="step === 2" class="step">
            <h3>2. Доставка</h3>
            <select v-model="delivery.method" required>
              <option disabled value="">Оберіть спосіб доставки</option>
              <option value="nova">Нова Пошта</option>
              <option value="ukr">Укрпошта</option>
              <option value="pickup">Самовивіз</option>
            </select>
            <input v-if="delivery.method !== 'pickup'" type="text" placeholder="Адреса доставки"
              v-model="delivery.address">
            <div class="step-buttons">
              <button @click="prevStep">Назад</button>
              <button @click="nextStep">Далі</button>
            </div>
          </div>

          <div v-if="step === 3" class="step">
            <h3>3. Оплата</h3>
            <div class="payment-options">
              <label class="payment-block">
                <input type="radio" v-model="payment" value="card" />
                <span>💳 Карткою</span>
              </label>

              <label class="payment-block">
                <input type="radio" v-model="payment" value="cash" />
                <span>💵 Готівкою при отриманні</span>
              </label>
            </div>


            <div class="step-buttons">
              <button @click="prevStep">Назад</button>
              <button @click="submitOrder">Оформити замовлення</button>
            </div>
          </div>

          <div v-if="step === 4" class="step">
            <h3>✅ Дякуємо за замовлення!</h3>
            <p>Очікуйте дзвінка нашого менеджера.</p>
            <button @click="closeCheckout">Закрити</button>
          </div>
        </div>

        <div class="checkout-right">
          <h3>Склад замовлення</h3>
          <ul>
            <li v-for="item in cart" :key="item.id">
              <img :src="item.image || 'images/placeholder.jpg'" alt="" />
              <span>{{ item.name }}</span>
              <span>x{{ item.quantity }}</span>
              <span>₴{{ item.price * item.quantity }}</span>
            </li>
          </ul>
          <div class="checkout-total">
            <strong>Разом: ₴{{ totalPrice }}</strong>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>

</html>